@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* sm__body */
.sm__container{
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 25vw 75vw;
}

.sm__body{
  height: 100vh;
  background-color: black;
}
.sm__sidebar{
  height: 100vh;
  background-color: #151515;
}
